@model IEnumerable<IRentBook.Models.ModelPrestamoView>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Prestamos";
    var rol = Context.Session.GetString("Rol");
    if (rol.Equals("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout-Usuarios.cshtml";
    }
}

    <h1>Prestamos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipoProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreUsuario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreUsuario)
                    </td>
                </tr>
            }
        </tbody>
    </table>
